.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{

}

body {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?q=80&w=2008&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)center center/cover no-repeat fixed;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#titulo {
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 48px;
    margin-top: 20px;
    color: #343a40;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-body {
    width: 400px;
}
.btn-close {
    padding: 10px;
    font-size: 0.7rem;
    color: #dc3545;
    visibility:hidden;
}

p:hover .btn-close {
    visibility: visible;
}
#footer {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-top: auto;
}